:root {
    --p95: #edf1f8;
    --p90: #dae3f1;
    --p85: #c8d5ea;
    --p80: #b6c8e2;
    --p75: #a3badb;
    --p70: #91acd4;
    --p65: #7e9ecd;
    --p60: #6c90c6;
    --p55: #5a82bf;
    --p50: #4774b8;
    --p45: #4069a5;
    --p40: #395d93;
    --p36: #335384;
    --p35: #325181;
    --p30: #2b466e;
    --p25: #243a5c;
    --p20: #1d2f49;
    --p15: #152337;
    --p10: #0e1725;

    --s95: #f0f2f4;
    --s90: #e2e5e9;
    --s85: #d3d8de;
    --s80: #c4cad4;
    --s75: #b6bdc9;
    --s70: #a7b0be;
    --s65: #98a3b3;
    --s60: #8a96a8;
    --s55: #7b899d;
    --s50: #6c7c93;
    --s46: #647287;
    --s45: #626f84;
    --s40: #576375;
    --s35: #4c5767;
    --s30: #414a58;
    --s25: #363e49;    
}
























