@import url('colors.css');

@font-face {
    font-family: "Ubuntu";
    src: url("../fonts/Ubuntu-Regular.ttf");
}

body, html {
    padding: 0px;
    margin: 0px;
    font-family: "Ubuntu";
    font-size: 12pt;
    color: #222;
}

/* Formatação do corpo da página */
div#interface {
    width: 70%;
    margin: auto;
    background-color: var(--p36);
}

/* Formatação da barra lateral */
aside#sidebar {
    display: block;
    width: 30%;
    float: left;    
    color: white;
}

aside#sidebar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

aside#sidebar h2 {
    text-indent: 20px;
    margin-bottom: 0px;
}

aside#sidebar a {
    text-decoration: none;
    color: white;
}

aside#sidebar table {
    margin: 0px;
    margin-left: auto;
    margin-right: 5px;
    width: 70%;
}

aside#sidebar table td {
    padding: 10px;
    vertical-align: top;
}

aside#sidebar table td.ce {
    text-align: center;
    padding-right: 0px;
}

aside#sidebar table td.cd {
    font-size: 11pt;
    vertical-align: middle;
}

aside#sidebar table i {
    font-size: 20pt;
}

/* Formatação do corpo do documento */
section#body {
    display: block;
    width: 70%;
    float: right;
    background-color: white;
}

section#body article {
    margin-left: 15px;
}

section#body .header h1 {
    font-size: 30pt;
    color: var(--s50);
    margin-bottom: 10px;
}

section#body .header h2 {
    color: var(--s50);
    font-size: 18pt;
    margin-top: 0px;
}

section#body h2 {
    color: var(--s50);
    font-size: 18pt;
    margin-bottom: 8px;
}

section#body div#profile p {
    text-align: justify;
    text-indent: 30px;
}

section#body h3 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 14pt;
    color: var(--p50);
}

section#body span {
    display: block;
    font-size: 12pt;
    font-weight: bold;
    color: var(--p30);
}

section#body ul {
    margin-top: 10px;
    line-height: 25px;
}

section#body table {
    margin-left: 20px;
}

section#body table td {
    padding: 5px;
    vertical-align: top;
}

section#body table td.ce {
    text-align: right;
    color: var(--p30);
    font-weight: bold;
}

/* Formatação do rodapé */
footer#bottombar {
    clear: both;
    padding: 10px;
    background-color: white;
}