body, html {
    padding: 0px;
    margin: 0px;
}

/* Formatação do corpo da página */
div#interface {
    width: 70%;
    margin: auto;
    background-color: #335384;
}

/* Formatação da barra lateral */
aside#sidebar {
    display: block;
    width: 30%;
    float: left;    
    color: white;
}

aside#sidebar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

aside#sidebar h2 {
    text-indent: 20px;
    margin-bottom: 0px;
}

aside#sidebar table {
    margin: 0px;
    margin-left: auto;
    margin-right: 5px;
    width: 70%;
}

aside#sidebar table td {
    padding: 10px;
    vertical-align: top;
}

aside#sidebar table td.ce {
    text-align: center;
    padding-right: 0px;
}

aside#sidebar table td.cd {
    font-size: 12pt;
    vertical-align: middle;
}

aside#sidebar table i {
    font-size: 20pt;
}

/* Formatação do corpo do documento */
section#body {
    display: block;
    width: 70%;
    float: right;
    background-color: white;
}

/* Formatação do rodapé */
footer#bottombar {
    clear: both;
    text-align: center;
    background-color: white;
}